body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.main{
    height: 100vh;
    display: flex;
    flex-flow: row;
}
#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}
.main__left{
    flex: 0.8;
    display: flex;
    flex-flow: column;
}
.main__right{
    flex: 0.2;
    display: flex;
    flex-flow: column;
    background-color: #242324;
    border-left: 1px solid #3d3d3d;
}
.main__videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.main__controls{
    display:flex;
    background-color: #1c1e20;;
    color: #d2d2d2;
    padding: 5px;
    justify-content: space-between;
    
}
.main__controls_block{
    display: flex;
    
}
.main__controls_button{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 80px;
    cursor: pointer;
}
.main__controls_button i{
    font-size: 24px;
}
.main__controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}
.leave_meeting{
    color: #EB534B;
}
.main__header{
    padding-top: 5px;
    color: #f5f5f5;
    text-align: center;
}
.main__chat_window{
    flex-grow: 1;
    overflow-y: auto;

}
.messages{
    color: white;
    list-style: none;
}
.main___message_container{
    padding: 22px 12px;
    display: flex;
}
.main___message_container input{
   flex-wrap: 1;
   background-color: transparent;
   border: none;
   color: #f5f5f5;
}
.unmute, .stop {
    color: #CC3B33;
}